/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/

body {
  background-color: #bdc3c7;
}

img {
  max-width: 250px;
  margin: 0;
  padding: 0;
  display: block;
}

.profil {
  width: 250px;
  margin: 0 auto;
  display: block;
  box-shadow: 3px 4px 5px 0px rgba(133, 126, 133, 1);
  position: relative;
}

.jmeno {
  margin: 0;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
}

.obsah {
  background-color: #31363b;
  margin: 0;
  padding: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(231, 229, 229);
  font-size: 15px;
  filter: blur(0.5px);
  border-bottom: solid 0.5px;
  border-bottom-color: rgb(116, 112, 112);
}

.logo {
  position: absolute;
  right: 20px;
  top: 140px;
  z-index: 1;
  background-color: #b92e81;
  border-radius: 100%;
  box-shadow: 0px 4px 5px 0px rgba(27, 23, 23, 0.75);
}

ul {
  padding: 0;
  margin: 0;
}


li {
  display: inline-block;
  filter: blur(0.5px);
  color: rgb(231, 229, 229);
}

.portfolio {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  width: 250px;
  text-align: center;
  border-bottom: solid 0.5px;
  border-bottom-color: rgb(116, 112, 112);
}


.portfolio a:hover {
  background-color: #e74c3c;
}


.facebook {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  width: 125px;
  text-align: center;
  border-right: solid 0.5px;
  border-right-color: rgb(116, 112, 112);
}

.facebook a:hover {
  background-color: #3b5998;
}

.twitter {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  width: 125px;
  text-align: center;
}

.twitter a:hover {
  background-color: #1da1f2;
}

a {
  text-decoration: none;
  display: block;
  padding: 10px;
}

a:visited {
  color: white;
}

.odkazy {
  background-color: #31363b;
}